.c-bottom-border-2 {
  position: relative;
  z-index: 1;
}

.c-bottom-border-2:before {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 0;
  height: 1px;
  width: 90%;
  border-bottom: 2px solid #c5cad6;
}

.c-bottom-border {
  position: relative;
  z-index: 1;
}

.c-bottom-border:before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 0;
  height: 1px;
  width: 60%;
  border-bottom: 2px solid #c5cad6;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.accordion-content.open {
  max-height: 500px;
}

.accordion-content.closed {
  padding: 0;
}
